VITE_SUPABASE_URL=https://stmrphvzpjlcobivqlsq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN0bXJwaHZ6cGpsY29iaXZxbHNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1NzIxMzMsImV4cCI6MjA5NjE0ODEzM30.BSKICIa5gMBOCwGsoYdDG5xAADVD17ZlzfiNW8_7Mqk
VITE_API_URL=http://localhost:5173
