SUPABASE_URL=https://stmrphvzpjlcobivqlsq.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN0bXJwaHZ6cGpsY29iaXZxbHNxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDU3MjEzMywiZXhwIjoyMDk2MTQ4MTMzfQ.eJYi7zsadfDyDyd2utEbFA9YlxsGBTCe0cBxtsBtKns
GMAIL_USER=sudhirtimalsina419@gmail.com
GMAIL_APP_PASSWORD=nere noxq cjph zywe
FRONTEND_URL=http://localhost:5173
PORT=5500
